fastapi==0.141.1
groq==1.7.0
httpx==0.28.1
langgraph==1.2.12
mcp==2.2.0
openai==3.19.0
pydantic==2.13.5
pyTigerGraph==2.0.4
python-dotenv==1.2.3
requests==2.34.2
tigergraph-mcp==1.0.3
typesafe-sdk==0.7.1
uvicorn==0.53.0